*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color: #EF5F4C;
    --shape-transparency: rgba(255, 255, 255, 0.5);
    --skeleton-color: #D9D9D9;
    --surface-color: #F5F5F5;
    --background-color: ##FFFFFF;
    --shape-transparency:#FFFFFF8f;
    --text-color-primary: #313131;
    --text-color-secondary: #6c6c6c;

    /* Fontes */
    --font-family: 'Poppins', sans-serif;
    --text: 16/1.5 var(--font-family);
    --text-lg: bold 32px/125% var(--font-family);
    --text-md: regular 14px/170 var(--font-family);
    --text-sm: regular 12px/170 var(--font-family);

}

body{
    font: var(--text);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-secondary);
}
